# ╔════════════════════════════════════════════════════════════════╗
# ║                                                                ║
# ║  ███████╗████████╗ █████╗ ██████╗ ███████╗██╗  ██╗██╗██████╗   ║
# ║  ██╔════╝╚══██╔══╝██╔══██╗██╔══██╗██╔════╝██║  ██║██║██╔══██╗  ║
# ║  ███████╗   ██║   ███████║██████╔╝███████╗███████║██║██████╔╝  ║
# ║  ╚════██║   ██║   ██╔══██║██╔══██╗╚════██║██╔══██║██║██╔═══╝   ║
# ║  ███████║   ██║   ██║  ██║██║  ██║███████║██║  ██║██║██║       ║
# ║  ╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═╝╚═╝       ║
# ║                                                                ║
# ╚════════════════════════════════════════════════════════════════╝

# ==================================================================
# General Configs
# ==================================================================

# Get editor completions based on the config schema
"$schema" = "https://starship.rs/config-schema.json"

add_newline = true
continuation_prompt = "[ ▸▹](bold italic orange)"

# ==================================================================
# Theme
# ==================================================================

# Sets user-defined palette
# Palettes must be defined _after_ this line
palette = "tokyo_night"

[palettes.tokyo_night]
red = "#f7768e"
orange = "#ff9e64"
yellow = "#e0af68"
beige = "#cfc9c2"
green = "#9ece6a"
teal = "#73daca"
aqua = "#b4f9f8"
cyan = "#2ac3de"
sky = "#7dcfff"
blue = "#7aa2f7"
purple = "#bb9af7"
white = "#c0caf5"
silver = "#a9b1d6"
slate = "#9aa5ce"
graphite = "#565f89"
charcoal = "#414868"
navy = "#24283b"
midnight = "#1a1b26"

# ==================================================================
# Starship modules
# ==================================================================

[character]
format = "$symbol "
success_symbol = "[ ▶](bold italic green)"
error_symbol = "[ ✕](bold italic red)"
vimcmd_symbol = "[ ◁](bold italic yellow)"

[sudo]
format = "[$symbol]($style)"
style = "bold italic bright-purple"
symbol = "⋈ "
disabled = false

# Nerd Font Symbols Preset
[aws]
symbol = "  "

[buf]
symbol = " "

[bun]
symbol = " "

[c]
symbol = " "

[cpp]
symbol = " "

[cmake]
symbol = " "

[conda]
symbol = " "

[crystal]
symbol = " "

[dart]
symbol = " "

[deno]
symbol = " "

[directory]
read_only = " 󰌾"
style = "bold sky"
truncation_length = 4

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[fennel]
symbol = " "

[fossil_branch]
symbol = " "

[gcloud]
symbol = "  "

[git_branch]
symbol = " "
style = "bold purple"

[git_commit]
tag_symbol = '  '

[golang]
symbol = " "

[guix_shell]
symbol = " "

[haskell]
symbol = " "

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[hostname]
ssh_symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[kotlin]
symbol = " "

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[ocaml]
symbol = " "

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CachyOS = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
Nobara = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "

[package]
symbol = "󰏗 "

[perl]
symbol = " "

[php]
symbol = " "

[pijul_channel]
symbol = " "

[pixi]
symbol = "󰏗 "

[python]
symbol = " "

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

[rust]
symbol = "󱘗 "

[scala]
symbol = " "

[swift]
symbol = " "

[zig]
symbol = " "

[gradle]
symbol = " "
